* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    background: rgb(1,2,3);
    background: linear-gradient(90deg, rgba(1,2,3,1) 0%, rgba(25,192,245,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 95%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin: 20px 0;
}

nav {
    width: 100%;
    text-align: right;
}

.link{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
}
.link:hover{
    color: #19c0f5;

}

li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.column-1 {
    margin-left: 50px;
    position: relative;
}

h2 {
    font-size: 54px;
}

h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0;
}

.column-1 p {
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}

.column-1::before {
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(90deg, rgba(1,2,3,1) 0%, rgba(25,192,245,1) 100%);
    position: absolute;
    left: -40px;
    top: 8px;
    
}

h4 {
    font-size: 20px;
    color:#000000;
    margin: 30px 0;
}

.buy {
    width: 140px;
    border: none;
    padding: 15px 12px;
    outline: none;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(25,192,245,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 6px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.5s 0.2s ease-in-out;
    
}

.buy img {
    width: 30px;
    display: none;

}

.buy:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.buy:hover img {
    display: block;
}

.column-2 {
    display: flex;
    align-items: center;
    position: relative;
}

.controller {
    width: 90%;
    z-index: 2;

    animation: movecontroller 2s infinite alternate ease-in-out;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(25,192,245,1) 0%, rgba(0,0,0,1) 50%);
    height: 100%;
    width: 80%;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transform: translateX(150px);
}

.add {
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
   
}

.add img {
    width: 100%;
    height: 100%;
    max-width: 55px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links img {
    height: 20px;
    margin: 20px;
    cursor: pointer;
}

.menu-icon {
    width: 25px;
    margin-right: 15px;
    display: none;
}

@media (max-width: 760px) {

.container {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    overflow-y: auto;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
font-size: 20px;
text-align: center;
}

p {
    font-size: 14px;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 16px;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 40px; 
}



.row {
    flex-direction: column-reverse;
}

.column-2 {
    margin-bottom: 30px;
}

.color-box {
    transform: translateX(70px) ;
}

#menu-list {
    position: relative;
    top: 60px;
    left: 60px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.8s ease-in-out;
    
} 

.menu-icon {
    display: block;
    cursor: pointer;
}

.nav-li {
    display: block;
    margin-top: 5px;

}
}

@keyframes movecontroller {

    from {
        transform: translate(-5%) rotate(-5deg);
    }
}